.select-button {
    padding: 1rem;
    margin: 2rem 2rem 0rem 2rem;
    background-color: #FFFFFF;
    color: #212529;
    border-radius: 1rem;
    width: 234px;
    font-weight: bold;
}

.select-button:hover{
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 3px #333);
    cursor: pointer;
}

.options-container {
    position: absolute;
    height: 250px;
    border: 1px solid #212529;
    width: 200px;
    margin: 1rem 2rem 2rem 2rem;
    border-radius: 1rem;
    padding: 1rem;
}

.inner-options-container {
    height: 100%;
    width: 200px;
    overflow: auto;
    -webkit-overflow-scrolling: 'touch';
    z-index: 1;
}

.year-options {
    list-style-type: none;
}

.year-item {
    font-weight: bold;
    color:#212529;
}

.year-item:hover {
    cursor: pointer;
}