.page-container {
    display: relative;
}

.graph-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.button-container {
    display: flex;

}

.map-holder {
    border: 2px solid #000000;
    border-radius: 16px;
    margin: 1rem;
}