.dot-plot-paper {
    max-height: 35vw;
    overflow: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius: 2rem; */
    border: 1px solid #212529;
}

.title-dot-plot {
    font-weight: bold;
    font-size: 1rem;
}