.text-container {
  margin: 4rem 10rem 10rem 10rem;
  letter-spacing: 2px;
  line-height: 2;
  font-size: 20px;
}

.stacked-area {
  text-align: center;
  width: 80%;
}

.caption-text {
  font-size: 16px;
  align-self: center;
}

.table-article {
  text-align: center;
}

.table-election {
  text-align: center;
  width: 65%
}

.table-voters {
  text-align: center;
  width: 80%
}

.table {
  border: 2px solid #000000;
  padding: 2rem;
  border-radius: 10px;
}

tr
{
  border: 5px solid #000000;
}
td
{
  background: #e5e5e5;
  padding: 1rem;
  border-radius: 5px;
}

