.text-container {
  margin: 4rem 10rem 10rem 10rem;
  letter-spacing: 2px;
  line-height: 2;
  font-size: 20px;
}

.stacked-area {
  text-align: center;
  width: 80%;
}

.caption-text {
  font-size: 16px;
  align-self: center;
}

.table-article {
  text-align: center;
}