.map-container-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #212529;
};

.title {
    font-weight: bold;
}